/** {
    border: 2px solid red;
}*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
    margin: 20px;
    border: 2px solid lightgrey;
    overflow: auto;
}

.buttons {
    display: grid;
    border: 1px solid lightgray;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.box {
    width: 50px;
    height: 20px;
    border: 1px solid lightgrey;
    text-align: center;
    color: rgb(117, 117, 117);
    font-weight: bold;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen {
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
    border: 2px solid lightgrey;
    padding-right: 5px;
}